p{font-family: Arial;
    
}
.video_title{
    font-weight: bold;
    font-size: 18;
    width: 200;
}
.video_stats{
    font-size: 15;
    color: gray;
}
.Video_author{
    margin-bottom: 100px;
}
.view{
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    font-size: 14px;
    padding-top: 18px;
    padding-bottom: 18px;

}